{{> menu }}
<body>
    <div class="bg-psc-yellow centered_text md-5">
        <h1>Abteilung Fußball</h1>
    </div>

    <img class="img-fluid" src="/src/department/soccer/home.png" alt="PSC Soccer (AI Generated)">


    <h3 class="text-center mt-5">Unsere Trainingsphilosophie</h3>
    <p class="text-center">Der Peisinger SC hat in den letzten Jahren eine Philosophie für seine Fußball-
Jugendabteilung erarbeitet, die für weit mehr steht als nur das reine Fußballspielen.
Unser Anspruch ist eine ganzheitliche, spaßorientierte Ausbildung auf und neben dem
Platz. Wir bilden nach den aktuellen BFV-Standards des Jugendfußballs aus:</p>
    <ul class="text-center">
        <li>Unsere Trainer bauen ihre Trainingseinheiten grundsaätzlich nach dem Vorbild der Trainingsphilosophie Deutschlands auf</li>
        <li>Wir legen großen Wert auf die individuelle Förderung der Spieler. Wir versuchen daher in jeder Trainingseinheit in Kleingruppen zu unterteilen</li>
        <li>Spaß steht immer im Vordergrund unserer Ausbildung!</li>
    </ul>

    <div class="feature-container-centered">
        <div class="feature-item-centered col-3">
            <div class="card" style="height: 100%;">
                <div class="card-body"  style="display: flex; flex-direction: column; flex-grow: 1;">
                    <h5 class="card-title">G-Jugend</h5>
                    <p class="card-text" style="display: flex; justify-content: center; align-items: center; flex-grow: 1;">Suche dir deine Lieblingssportart aus!</p>
                    <a href="#" class="btn btn-psc-blue">Sportarten durchsuchen</a>
                </div>
            </div>      
        </div>
        <div class="feature-item-centered col-3">
            <div class="card" style="height: 100%;">
                <div class="card-body" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <h5 class="card-title">F-Jugend</h5>
                    <p class="card-text" style="display: flex; justify-content: center; align-items: center; flex-grow: 1;">Wir bieten immer ein kostenloses Probetraining an, damit du dir das Training, unsere Übungsleiter und den Verein anschauen kannst.</p>
                    <a href="/verein/anprechpartner" class="btn btn-psc-blue">Probetraining vereinbaren</a>
                </div>
            </div>
        </div>
        <div class="feature-item-centered col-3">
            <div class="card" style="height: 100%;">
                <div class="card-body" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <h5 class="card-title">E-Jugend</h5>
                    <p class="card-text" style="display: flex; justify-content: center; align-items: center;flex-grow: 1;">Werde Teil unserer Gemeinschaft und genieße alle Vorteile als Mitglied.</p>
                    <a href="#" class="btn btn-psc-blue">Mitgliedschaft abschließen</a>
                </div>
            </div>
        </div>
     </div>
</body>