<footer class="containe-fluid bg-psc-yellow py-4 mt-5 footer footer" style="flex-shrink: 0;">
    <div class="container">
        <p class="float-end"><a class="link-dark" href="#">Nach Oben</a></p>
        <p>
        &copy; 2026 Peisinger SC &middot;
        <a class="link-dark" href="#">Datenschutz</a> &middot; <a class="link-dark" href="#">Nutzungsbedingungen</a>
        </p>
    </div>
</footer>