<div class="modal fade" id="modal{{modalId}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body text-center d-flex flex-column align-items-center">
        {{{content}}}
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary">
          <i class="bi bi-pencil-square"></i>
        </a>
        {{#if isAdmin}}
        <a class="btn btn-secondary" href="/news/deleteNews/{{id}}" role="button">
            <i class="bi bi-trash"></i>
        </a>
        {{/if}}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>