{{> menu }}
  <body>
      <img class="img-fluid" src="/src/home/home.png" alt="PSC Home (AI Generated)">

    <div class="feature-container-centered">
        <h2>Willkommen beim PSC!</h2>
        <p>Wir freuen uns, dass du den Weg auf unsere Webseite gefunden hast. Als moderner Sportverein mit Tradition sind wir tief in Peising verwurzelt und bieten Sportbegeisterten jeden Alters ein sportliches Zuhause. Ob Groß oder Klein, Profi oder Hobbysportler – beim PSC steht die Freude an der Bewegung und das gemeinschaftliche Miteinander an erster Stelle. Entdecke unsere Abteilungen:
        {{!-- <ul>
          <li>Fußball: Von unseren kleinsten Kickern in den G-Junioren bis hin zur 1. Mannschaft – wir leben die Leidenschaft für das runde Leder auf unserem Rasenplatz.</li>
          <li>Breitensport: Unser Angebot für alle, die sich fit halten und gemeinsam in der Gruppe aktiv sein wollen.</li>
          <li>Tennis: Auf unseren Plätzen finden sowohl ambitionierte Ligaspieler als auch Freizeitspieler die perfekten Bedingungen.</li>
          <li>Stockschützen: Tradition und Präzision treffen hier aufeinander – eine Abteilung für Jung und Alt.</li>
        </ul> --}}

        <div class="feature-container-centered" style="gap: 100px" >
            <div class="feature-item-centered col-lg-2">
                <div class="card" style="height: 100%; border: none;">
                    <div class="card-body"  style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; text-align: center;">
                      <div class="circle-centered" style="background-image: url(/src/home/Fußball_rund.png); border: 2px solid var(--psc-yellow);"></div>
                        <h2 class="fw-normal">Fußball</h2>
                        <p>
                          Von unseren kleinsten Kickern in den G-Junioren bis hin zur 1. Mannschaft – wir leben die Leidenschaft für das runde Leder auf unserem Rasenplatz.
                        </p>
                        <p style="margin-top: auto; weight: 100%;">
                          <a class="btn btn-psc-blue" href="/department/soccer">Entdecken &raquo;</a>
                        </p>
                    </div>
                </div>      
            </div>
            <div class="feature-item-centered col-lg-2">
                <div class="card" style="height: 100%; border: none;">
                    <div class="card-body" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; text-align: center;">
                      <div class="circle-centered" style="background-image: url(/src/home/Breitensport_rund.png); border: 2px solid var(--psc-yellow);"></div>
                      <h2 class="fw-normal">Breitensport</h2>
                      <p style="display: flex; flex-direction: column; flex-grow: 1;">
                        Unser Angebot für alle, die sich fit halten und gemeinsam in der Gruppe aktiv sein wollen.
                      </p>
                      <p style="margin-top: auto; weight: 100%;">
                        <a class="btn btn-psc-blue" href="/department/breitensport">Entdecken &raquo;</a>
                      </p>
                    </div>
                </div>
            </div>
            <div class="feature-item-centered col-lg-2">
                <div class="card" style="height: 100%; border: none;">
                    <div class="card-body" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; text-align: center;">
                        <div class="circle-centered" style="background-image: url(/src/home/Stock_rund.png); border: 2px solid var(--psc-yellow);"></div>
                        <h2 class="fw-normal">Stockschützen</h2>
                        <p style="display: flex; flex-grow: 1;">
                          Tradition und Präzision treffen hier aufeinander – eine Abteilung für Jung und Alt.
                        </p>
                        <p style="margin-top: auto; weight: 100%;">
                          <a class="btn btn-psc-blue" href="/department/stockschuetzen">Entdecken &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-item-centered col-lg-2">
                <div class="card" style="height: 100%; border: none;">
                    <div class="card-body" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; text-align: center;">
                        <div class="circle-centered" style="background-image: url(/src/home/Tennis_rund.png); border: 2px solid var(--psc-yellow);"></div>
                        <h2 class="fw-normal">Tennis</h2>
                        <p style="display: flex; flex-grow: 1;">
                          Auf unseren Plätzen finden sowohl ambitionierte Ligaspieler als auch Freizeitspieler die perfekten Bedingungen.
                        </p>
                        <p style="margin-top: auto; weight: 100%;">
                          <a class="btn btn-psc-blue" href="/department/tennis">Entdecken &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </body>
</html>