{{> menu }}
<body>
    <h1>Sportanlage</h1>
    <p>Hier findest du die neuesten Nachrichten rund um den Peisinger SC.</p>

    <div class="image-container">
        <img src="/src/facility/karte.png" alt="Map of the facility" style="max-width: 100%; height: auto">
    </div>

    {{!-- <img src="/src/facility/kunstrasen.jpg" alt="Sportanlage">
    <img src="/src/facility/peising.jpg" alt="Sportanlage"> --}}
</body>