{{> menu }}
<body>
    <h1>Sportanlage</h1>
    <p>Hier findest du die neuesten Nachrichten rund um den Peisinger SC.</p>

    <img src="/facility/kunstrasen.jpg" alt="Sportanlage" class="rounded-circle img-fluid mx-auto d-block" 
                     style="width: 140px; height: 140px; object-fit: cover;">
    <img src="/facility/peising.jpg" alt="Sportanlage" class="img-fluid rounded">
</body>