{{> menu }}
<body>
    <div class="bg-psc-yellow centered_text">
        <h1>Vorstandschaft</h1>
    </div>

    <div class="feature-container-centered gab-4">
       {{#each leading}}
            <div class="card centered_text border-0" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; text-align: center;">
                <div class="circle-centered", style="background-image: url({{src_img}});"></div>
                <h2>{{firstname}} {{lastname}}</h2>
                <p>{{position}}</p>
            </div>
        {{/each}}
    </div>
</body>